:root {

  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,

    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",

    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",

    "Source Han Sans CN", sans-serif;

}



.main-container {

  overflow: hidden;

}



.main-container,

.main-container * {

  box-sizing: border-box;

}



input,

select,

textarea,

button {

  outline: 0;

}



.main-container {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  flex-wrap: nowrap;

  position: relative;

  width: 1280px;

  height: 832px;

  margin: 0 auto;

  background: #ffffff;

  overflow: hidden;

}

.header {

  display: flex;

  align-items: center;

  justify-content: space-between;

  align-self: stretch;

  flex-wrap: nowrap;

  flex-shrink: 0;

  position: relative;

  min-width: 0;

  padding: 0 32px 0 32px;

  background: #ffffff;

  border-top: 1px solid rgba(0, 0, 0, 0.2);

}

.logo {

  display: flex;

  align-items: center;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 16px;

  position: relative;

  width: 217px;

  padding: 20px 24px 20px 20px;

  z-index: 1;

  border-radius: 8px;

}

.vector {

  flex-shrink: 0;

  position: relative;

  width: 48px;

  height: 48px;

  background: url(./assets/images/3da77c54-70b6-4e12-be81-f5705243e508.png)

    no-repeat center;

  background-size: cover;

  z-index: 2;

}

.bloom {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 39px;

  color: #36393b;

  font-family: Montserrat, var(--default-font-family);

  font-size: 32px;

  font-weight: 600;

  line-height: 39px;

  text-align: left;

  white-space: nowrap;

  z-index: 3;

}

.search-bar {

  display: flex;

  align-items: center;

  justify-content: space-between;

  flex-wrap: nowrap;

  flex-shrink: 0;

  position: relative;

  width: 483px;

  padding: 14px 16px 14px 18px;

  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);

  z-index: 4;

  border-radius: 999px;

}

.search-anything {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 17px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 14px;

  font-weight: 400;

  line-height: 16.943px;

  text-align: left;

  white-space: nowrap;

  opacity: 0.38;

  z-index: 5;

}

.search {

  flex-shrink: 0;

  position: relative;

  width: 16px;

  height: 16px;

  background: url(./assets/images/cc3de6ee-eeab-4b71-a50b-b704f4b6022d.png)

    no-repeat center;

  background-size: cover;

  z-index: 6;

}

.person {

  display: flex;

  align-items: center;

  justify-content: flex-end;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 8px;

  position: relative;

  width: 183px;

  padding: 0 6px 0 6px;

  z-index: 7;

}

.frame {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 8px;

  position: relative;

  width: 41.333px;

  padding: 10px 10px 10px 10px;

  z-index: 8;

}

.person-1 {

  flex-shrink: 0;

  position: relative;

  width: 21.333px;

  height: 21.333px;

  background: url(./assets/images/fa3bb557-39cf-4b4b-b86b-abf22a3e5f37.png)

    no-repeat center;

  background-size: cover;

  z-index: 9;

}

.frame-2 {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  align-self: stretch;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 8px;

  position: relative;

  min-width: 0;

  height: 680px;

  padding: 72px 40px 72px 40px;

  z-index: 10;

}

.frame-3 {

  display: flex;

  flex-direction: column;

  align-items: flex-end;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 38px;

  position: relative;

  width: 529px;

  z-index: 11;

}

.frame-4 {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 32px;

  position: relative;

  width: 529px;

  z-index: 12;

}

.frame-5 {

  display: flex;

  align-items: center;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 8px;

  position: relative;

  width: 136px;

  z-index: 13;

}

.arrow-back-ios-new {

  flex-shrink: 0;

  position: relative;

  width: 24px;

  height: 24px;

  background: url(./assets/images/3e80821f-629d-46f4-b9ff-6f717fdb10fc.png)

    no-repeat center;

  background-size: 100% 100%;

  z-index: 14;

}

.back-to-cart {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 22px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 18px;

  font-weight: 400;

  line-height: 21.784px;

  text-align: left;

  white-space: nowrap;

  z-index: 15;

}

.frame-6 {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 21px;

  position: relative;

  width: 529px;

  z-index: 16;

}

.frame-7 {

  display: flex;

  align-items: flex-start;

  align-self: stretch;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 16px;

  position: relative;

  min-width: 0;

  padding: 32px 32px 32px 16px;

  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);

  z-index: 17;

  border-radius: 8px;

}

.radio-button-checked {

  flex-shrink: 0;

  position: relative;

  width: 32px;

  height: 32px;

  background: url(./assets/images/f73e9776-8385-42de-8590-c8db6239b672.png)

    no-repeat center;

  background-size: 100% 100%;

  z-index: 18;

}

.frame-8 {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  flex-wrap: nowrap;

  flex-grow: 1;

  flex-shrink: 0;

  flex-basis: 0;

  gap: 16px;

  position: relative;

  z-index: 19;

}

.deliver-to-john-doe {

  align-self: stretch;

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 24px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 20px;

  font-weight: 500;

  line-height: 24px;

  text-align: left;

  white-space: nowrap;

  z-index: 20;

}

.frame-9 {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  align-self: stretch;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 4px;

  position: relative;

  z-index: 21;

}

.home-address {

  align-self: stretch;

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 19px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 16px;

  font-weight: 600;

  line-height: 19px;

  text-align: left;

  white-space: nowrap;

  z-index: 22;

}

.fake-apartments-nr {

  display: flex;

  align-items: flex-start;

  justify-content: flex-start;

  align-self: stretch;

  flex-shrink: 0;

  position: relative;

  width: 433px;

  height: 38px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 16px;

  font-weight: 400;

  line-height: 19.364px;

  text-align: left;

  z-index: 23;

}

.new-add {

  display: flex;

  align-items: center;

  align-self: stretch;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 16px;

  position: relative;

  min-width: 0;

  padding: 24px 32px 24px 24px;

  background: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);

  z-index: 24;

  border-radius: 8px;

}

.add {

  flex-shrink: 0;

  position: relative;

  width: 40px;

  height: 40px;

  background: url(./assets/images/aa3aa463-f86d-4be8-aeaa-91bc7b9f68e7.png)

    no-repeat center;

  background-size: 100% 100%;

  z-index: 25;

}

.frame-a {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 16px;

  position: relative;

  width: 167px;

  z-index: 26;

}

.add-new-address {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 24px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 20px;

  font-weight: 500;

  line-height: 24px;

  text-align: left;

  white-space: nowrap;

  z-index: 27;

}

.frame-b {

  display: flex;

  align-items: center;

  justify-content: center;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 8px;

  position: relative;

  width: 188px;

  padding: 16px 8px 16px 8px;

  cursor: pointer;

  background: #2c96e7;

  border: none;

  z-index: 28;

  border-radius: 8px;

}

.next {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 19px;

  color: #f8f8f8;

  font-family: Inter, var(--default-font-family);

  font-size: 16px;

  font-weight: 700;

  line-height: 19px;

  text-align: left;

  white-space: nowrap;

  z-index: 29;

}

.footer {

  display: flex;

  align-items: center;

  justify-content: space-between;

  align-self: stretch;

  flex-wrap: nowrap;

  flex-shrink: 0;

  position: relative;

  min-width: 0;

  padding: 16px 32px 16px 32px;

  background: #ffffff;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  z-index: 30;

}

.brand {

  display: flex;

  align-items: center;

  flex-wrap: nowrap;

  flex-shrink: 0;

  gap: 8px;

  position: relative;

  width: 135px;

  z-index: 31;

}

.vector-c {

  flex-shrink: 0;

  position: relative;

  width: 32px;

  height: 32px;

  background: url(./assets/images/1598dd5f-bd3a-4416-9ee0-3f69fc083d97.png)

    no-repeat center;

  background-size: cover;

  z-index: 32;

}

.navlist {

  display: flex;

  align-items: flex-start;

  justify-content: space-between;

  flex-wrap: nowrap;

  flex-shrink: 0;

  position: relative;

  width: 353px;

  z-index: 33;

}

.home {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 15px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 12px;

  font-weight: 200;

  line-height: 14.523px;

  text-align: left;

  white-space: nowrap;

  z-index: 34;

}

.about {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 15px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 12px;

  font-weight: 200;

  line-height: 14.523px;

  text-align: left;

  white-space: nowrap;

  z-index: 35;

}

.contact {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 15px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 12px;

  font-weight: 200;

  line-height: 14.523px;

  text-align: left;

  white-space: nowrap;

  z-index: 36;

}

.help {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 15px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 12px;

  font-weight: 200;

  line-height: 14.523px;

  text-align: left;

  white-space: nowrap;

  z-index: 37;

}

.sell {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 15px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 12px;

  font-weight: 200;

  line-height: 14.523px;

  text-align: left;

  white-space: nowrap;

  z-index: 38;

}

.copyright {

  flex-shrink: 0;

  flex-basis: auto;

  position: relative;

  height: 19px;

  color: #000000;

  font-family: Inter, var(--default-font-family);

  font-size: 16px;

  font-weight: 500;

  line-height: 19px;

  text-align: left;

  white-space: nowrap;

  z-index: 39;

}
